[Unit]
Description=Eagle Tunnel Server Service

[Service]
Type=simple
User=root
Environment=TERM='xterm'
ExecStart=/usr/bin/dotnet /usr/lib/eagle-tunnel/eagle.tunnel.dotnet.core.dll /etc/eagle-tunnel.conf
Restart=on-abort
StandardOutput=file:/var/log/eagle-tunnel/output.log
StandardError=file:/var/log/eagle-tunnel/error.log

[Install]
WantedBy=multi-user.target
