bin/Debug/netcoreapp2.0/eagle.tunnel.dotnet.core.runtimeconfig.dev.json
bin/Debug/netcoreapp2.0/eagle.tunnel.dotnet.core.dll
bin/Debug/netcoreapp2.0/eagle.tunnel.dotnet.core.pdb
bin/Debug/netcoreapp2.0/eagle.tunnel.dotnet.core.deps.json
bin/Debug/netcoreapp2.0/eagle.tunnel.dotnet.core.runtimeconfig.json
obj/Debug/netcoreapp2.0/eagle.tunnel.dotnet.core.dll
obj/Debug/netcoreapp2.0/eagle.tunnel.dotnet.core.pdb
obj/Debug/netcoreapp2.0/eagle.tunnel.dotnet.core.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/eagle.tunnel.dotnet.core.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.0/eagle.tunnel.dotnet.core.csproj.CoreCompileInputs.cache
